doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='henry', href='/views/henry.pug')
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk", crossorigin="anonymous")
  body
  
    <a href="../">Home</a>
    <a href="../henry">Henry</a>
    <a href="../ursula">Ursula</a>
    <a href="../stanley">Stanley</a>
    <a href="../julie">Julie</a>
    <a href="../yolanda">Yolanda</a>
    <a href="../mike">Mike</a>
    <a href="../matthew">Matthew</a>
   
    block content