extends layout

block content

    h1=name
    h1 my name is #{name}

        |. I am a pump truck operator.
        | I am the second youngest in the family.
        |  I am an accomplished dirt biker.