extends layout

block content

    h1=name
    h1 my name is #{name}

        |. I am a georgian college student.
        | I am a wife and a mother of two kids.
        |  I am the middle child in the family.